
   
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-padding-top: 100px
}
body {
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color: #F8F8F8;
    position: relative;
   
}
a {
    text-decoration: none;
    color:inherit;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
}

textarea:focus, input:focus{
    outline: none;
}

button {
    padding: 10px;
    border-radius: 20px;
    color: $colorTertiary;
    background-color: $colorSecondary;
    border: 0px;
    padding: 10px 20px;
    margin: 20px 0;
    align-self: center;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        margin: 0;
    }
    &:hover {
        background-color: darken($colorSecondary, 3%);
    }
}

textarea {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 1px 4px;
    padding: 10px;
    font-family: inherit;

}
input[type=file] {
    display: none;
}