.mostpopular {
    position: fixed;
    width: 300px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        display: none;
    }
    &--card {
    position: relative;
    height: 300px;
    border-radius: 24px;
    margin-bottom: 20px;
        & img {
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 24px;
        }
        &__description {
            position: absolute;
            bottom: 0;
            background-color: #fff;
            opacity: 80%;
            font-weight: 700;
            width: 100%;
            padding: 20px;
            border-radius: 0  0 24px 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            & > p {
                margin: 0;
                color: $colorTertiary;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & > span {
                color: $colorPrimary;
                margin-right: 5px;
            }
        }
    }
}