.actionbar {
    background-color: #fff;
    padding: 24px;
    position: fixed;
    width: 300px;
    &--bloc {
        padding: 20px;
        margin: 0 0 20px 0;
        height: 60px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FD2D01;
        font-weight: 700;
        &:hover {
            background-color: #FD2D01;
            color: #fff;
            transform: scale(1.02);
            transition: 0.3s;
        }
        & span {
            align-items: center;
            font-size: 24px;
        }
        & p {
            padding-left: 20px;
            margin: 0;
        }
    }
}

