.info {
    position: fixed;
    width: 300px;
    &--card {
    position: relative;
    height: 300px;
    border-radius: 24px;
    margin-bottom: 20px;
        & img {
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 24px;
        }
        &__description {
            position: absolute;
            bottom: 0;
            background-color: rgb(253,45,1, 0.5);
            color: #fff;
            text-shadow: 1px 1px 1px  black;
            font-weight: 700;
            width: 100%;
            padding: 20px;
            border-radius: 0  0 24px 24px;
        }
    }
}